.DrawTool {
  position: absolute;
  height: 10%;
  bottom: 0;
  left: 0;
  right: 0;
  background: lightgrey;
  transform: translateY(100%);
  -webkit-transition: transform 0.5s;
  display: inline-block;
}

.DrawToolOpen {
  position: absolute;
  height: 10%;
  bottom: 0;
  left: 0;
  right: 0;
  background: lightgrey;
  transform: translateY(0);
  -webkit-transition: transform 0.5s;
  display: inline-block;
}

.DrawToolUndo {
  height: 80%;
  width: 7.5%;
  margin: 0.5%;
  color: white;
  display: inline-block;
  vertical-align: top;
  outline: none;
  background: #4d5656;
}
