.EraserButton {
  height: 90%;
  width: 15%;
  margin: 1%;
  background: #0eb1d8;
  color: white;
  font-weight: bold;
  display: inline-block;
  vertical-align: top;
  font-size: 1em;
}

.EraserButtonPressed {
  height: 90%;
  width: 15%;
  margin: 1%;
  background: #f93636;
  color: white;
  font-weight: bold;
  display: inline-block;
  vertical-align: top;
  font-size: 1em;
}
